.main {
    width: 25.875em;
}

.icons_part {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #ffff;
    padding: 15px 0px;
    gap: 12.9em;
}

.background_image {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: 3em;
    left: -15.5em;
    z-index: 5;
}

.menu_buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:11.3em;
    left: 8.4em;
    z-index:10;
    gap: 1em;
}

.menu_buttons > p{
    margin: 0;
}

.menu_icon {
    margin-left: 1.7em;
    margin-right:1.7em;
}