.largebox {
    margin-left: 3.5em;
}
.smallbox {
    margin-left: 6.5em;
    padding-bottom: 0.5em;
    padding-top: 1.5em
    }

.quizstart {
    margin-left: 8em;
}

/* .main {
    
}

.topnavbar {
    
}
   */
  