.container{
    max-width: 414px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greenNav{
    background-color: var(--turtlegreen);
    padding: 13px 40px;
    margin: 0;
    border: none;
    height: 43px;
    font-size: 14px;
}

.yellowNav{
    background-color: var(--strawyellow);
    padding: 13px 40px;
    margin: 0;
    border: none;
    height: 43px;
    font-size: 14px;
}

.buttonClose{
    background-color: var(--coralreef);
    padding: 13px 35px;
    margin: 0;
    border: none;
    height: 43px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.popUpNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 43px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.popup{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    text-align: center;
    padding: 0px 0 20px 0;
    font-size: 14px;
    background-color: var(--palewhite);
    align-items: center;
    box-shadow: 8px 8px 0px 0px;
    z-index: 2;
    height: max-content;
}

.popUpNav > button{
    font-family: "Pixeloid Sans";
}

.fishName{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0;
}

.generalInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 0px;
    gap: 10px;
}

.infoList{
    padding: 0px 20px;
    line-height: 1.5;
}

.infoGeneral{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 245px;
    justify-content: space-between;
    padding-bottom: 10px;
}

.fishFloat{
    animation: float 3s ease-in-out infinite;
    margin-left: 100px;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0);
		transform: translatey(0px);
	}

}