.main {
    font-family: 'Pixeloid Sans';
    margin: 1em 0 4.5em 0.2em;
    max-width: 25.875em;
}

.buttons_section {
    width: 25.875em;
}

.buttons_section > button {
    border: 2px solid; 
    border-bottom: none; 
    border-left: none;
}

.hunger {
    margin: -1.5em 0 2.1em 3.5em;
}

.hunger_1_cell {
    margin-top: -2.69em;
    margin-bottom: 2.25em;
    z-index: 1;
}

.hunger_5_cell {
    position: absolute;
    margin-top: -4.75em;
    margin-bottom: 2.25em;
    z-index: 10;
}

.buttons_part {
    font-family: 'Pixeloid Sans';
    font-size: 18px;
    background-color: var(--coralreef);
    padding: 0.5em 1em;
}

.buttons_part:focus {
    background-color: var(--lightpink);
}

.content {
    background-color: var(--lightpink);
    padding: 1.5em 0 1.4em 1.5em;
    height: 110px;
    border-top: 2px solid;
}

.fish_image_1_absolute {
    position: absolute;
    cursor: pointer;
}

.fish_image_2_absolute {
    position: absolute;
    margin-left: 6.25em;
    cursor: pointer;
}

.fish_image_3_absolute {
    position: absolute;
    margin-left: 12.5em;
    cursor: pointer;
}

.item_image_1_hide {
    position: absolute;
    z-index: 1;
}

.item_image_2_hide {
    position: absolute;
    margin-left: 6.23em;
    z-index: 1;
}

.item_image_3_hide {
    position: absolute;
    margin-left: 12.5em;
    z-index: 1;
}

.crab {
    position: absolute;
    padding-left: 9em;
    margin-top:-27.39em;
    animation: floatleftright 3s ease-in-out infinite;
}

.clownFish {
    position: absolute;
    padding-left: 16em;
    margin-top:-30.5em;
    animation: floatupdown 8s ease-in-out infinite;
}

.seaturtle {
    position: absolute;
    padding-left: 4em;
    margin-top:-30em;
    animation: floatupdown 8s ease-in-out infinite;
}

.moss {
    position: absolute;
    padding-left: 14.5em;
    margin-top: -26.8em;
}

.filter {
    position: absolute;
    padding-left: 0.6em;
    margin-top: -36.1em;
}

.popup {
    position: absolute;
    padding-left: 1em;
    margin-top:-30em;
}

.item_image_cover {
    position: absolute;
    margin-right: 1em;
    margin-left: 0.5em;
}

.box_buttons {
    display: flex;
    margin-top: -6em;
    margin-left: 4em;
}

.buttons {
    margin-right: 2.5em;
    cursor: pointer;
}

@keyframes floatupdown {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0);
		transform: translatey(0px);
	}
}

@keyframes floatleftright {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
		transform: translatex(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0);
		transform: translatex(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0);
		transform: translatex(0px);
	}
}