.main {
    font-family: 'Pixeloid Sans';
    margin: 1em 0em 5em 0.2em;
    width: 25.875em;
}

.buttons_section {
    width: 25.875em;
}

.buttons_section > button {
    border: 2px solid; 
    border-bottom: none; 
    border-left: none;
}

.hunger {
    margin: -1.5em 0 1em 3.5em;
}

.hunger_1_cell {
    margin-top: -2.71em;
    margin-bottom: 2.25em;
    z-index: 1;
}

.hunger_5_cell {
    position: absolute;
    margin-top: -4.8em;
    margin-bottom: 2.25em;
    z-index: 10;
}

.buttons_part {
    font-family: 'Pixeloid Sans';
    font-size: 18px;
    background-color: var(--coralreef);
    padding: 0.5em 1em;
}

.buttons_part:focus {
    background-color: var(--lightpink);
}

.content {
    background-color: var(--lightpink);
    padding: 1em;
    width: 380px;
    height: 110px;
    border-top: 2px solid;
}

.fish_image_1_absolute {
    position: absolute;
}

.fish_image_2_absolute {
    position: absolute;
    margin-left: 6.25em;
}

.fish_image_3_absolute {
    position: absolute;
    margin-left: 12.5em;
}

.item_image_1_hide {
    position: absolute;
    z-index: 1;
}

.item_image_2_hide {
    position: absolute;
    margin-left: 6.23em;
    z-index: 1;
}

.item_image_3_hide {
    position: absolute;
    margin-left: 12.5em;
    z-index: 1;
}

.crab {
    position: absolute;
    padding-left: 9em;
    margin-top:-26.7em;
}

.clownFish {
    position: absolute;
    padding-left: 17em;
    margin-top:-31em;
}

.seaturtle {
    position: absolute;
    padding-left: 4em;
    margin-top:-30em;
}

.moss {
    position: absolute;
    padding-left: 12.5em;
    margin-top: -27.8em;
}

.filter {
    position: absolute;
    padding-left: 36px;
    margin-top: -513px;
    width: 67px;
}

.popup {
    position: absolute;
    padding-left: 1em;
    margin-top:-30em;
}

.item_image_cover {
    position: absolute;
    margin-right: 1em;
    margin-left: 0.5em;
}

.box_buttons {
    display: flex;
    margin-top: -6em;
    margin-left: 4em;
}

.buttons {
    margin-right: 2.5em;
}