.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 25.875em;
    font-family: 'Pixeloid Sans';
    /* margin: 4.875em 0 2em; */
    /* text-align: center; */
}

.headerTitle{
    position: absolute;
    color: var(--skyblue);
}

.content_section {
    margin-top: 2em;
}

.aquarium_image{
    text-align: center;
    z-index: 2;
}

.aquarium{
    z-index: 2;
}

.navbar {
    z-index: 3;
}