.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 25.875em;
    font-family: 'Pixeloid Sans';
    background-color: var(--background);
}

.headerTitle{
    position: absolute;
    color: var(--skyblue);
}

.content_section {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aquarium{
    z-index: 2;
}

.navbar {
    z-index: 3;
}