.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 25.875em;
    font-family: 'Pixeloid Sans';
}

.headerTitle{
    position: absolute;
}

.content_section {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.aquarium_image{
    z-index: 2;
}

.aquarium{
    z-index: 2;
}

.navbar {
    z-index: 3;
}