.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25.875em;
}

.headerTitle{
    position: absolute;
}

.parentContainer{
    position: relative;
}

.background, .foreground{
    max-width: 25.875em;  
}

.foreground{
    position: fixed;
    position: absolute;
    /* bottom: 0px; */
    margin-top: 891px;
}

