:root {
  --darkbrown: #453333;
  --palewhite: #FCF5E5; 
  --strawyellow: #F8C468; 
  --hazelnut: #F1D39D; 
  --oceanblue: #2EA1DA;
  --skyblue: #6DBDE5; 
  --lightpink: #F8CBC5; 
  --coralreef: #EB8B8B; 
  --seaweedgreen: #C1EB8B; 
  --turtlegreen: #6BCC69; 
  --seastar: #E6C6FF; 
}


@font-face {
  font-family: "pixeloidSans";
  src: url("../font/PixeloidSans-JR6qo.ttf");

  font-family: "pixeloidSans_bold";
  src: url("../font/PixeloidSansBold-GOjpP.ttf");
}
