.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25.875em;
    background-color: var(--background);
}

.content_section {
    margin: 1em 1em 6em 1em;
}

.headerTitle{
    position: absolute;
}

.top_part {
    display: flex;
}

.back {
    margin-left: 0.5em;
}

.shell {
    display: flex;
    margin-left: 15em;
    margin-top: 0.5em;
}

.shell > p {
    margin: 10px;
}

.content_top_part {
    display: flex;
}

.content {
    margin-left: 1.5em;
}

.right_part {
    margin-top: 1.8em;
    margin-left: 0.5em;
}

.price {
    display: flex;
    margin-top: 0.2em;
}

.price > p {
    margin: 0px;
    margin-left: 5px;
}

.heading {
    font-size: 20px;
    margin: 0;
}

.qty > p {
    margin-bottom: 0;
}

.qty_buttons {
    display: flex;
    margin-top: 0.2em;
    cursor: pointer;
}

.qty_buttons > p {
    margin: 0.4em;
}

.buy {
    margin-top: 1em;
    cursor: pointer;
}

.middle_part{
    margin: 1em 3em 1em 1.5em;
}

.middle_part > p {
    font-size: 16px;
}

.color_green {
    color: var(--turtlegreen);
}

.color_blue {
    color: var(--oceanblue);
}

.color_pink {
    color: var(--coralreef);
}

.color_yellow {
    color: var(--strawyellow);
}

.color_purple {
    color: var(--purple-yam);
}

.buttom_part {
    margin: 2em 3em 1em 1.5em;
}

.buttom_part > p {
    font-size: 20px;
}

.details {
    margin-top: -0.5em;
}

.points {
    display: flex;
}

.star {
    margin-top: 1em;
    margin-right: 1em;
}

.popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.529);
}

.popup_1 {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cross {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18em;
    margin-top: -17em;
}

.background_image {
    margin-left: -0.5em;
    margin-top: -20em;
}

.background_image_1 {
    margin-top: -20em;
}

.popup > p {
    position: relative;
    width: 13em;
    margin-top: -13.5em;
    margin-left: 1em;
}

.popup_1 > p {
    position: relative;
    width: 14em;
    margin-top: -15em;
    margin-left: 1em;
}

.box_buttons {
    display: flex;
    margin-top: 0.5em;
    margin-left: 1.5em;
}

.box_buttons_1 {
    display: flex;
    margin-left: 1.5em;
}

.buttons {
    margin-right: 2em;
    cursor: pointer;
}

.button_1 {
    margin-right: 2em;
    margin-top: -0.8em;
    cursor: pointer;
}

.shell_amount {
    margin-top: 0.1em;
    margin-right: 0.2em;
}

.navbar {
    z-index: 0;
}

.right_part_filter {
    margin-top: 1em;
    margin-left: 0.5em;
}

.big_image {
    margin-right: 10px;
}