.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 25.875em;
    text-align: center;
}

.headerTitle{
    position: absolute;
}

.content_section {
    margin: 2em 5em 5em 6.5em;
}

.shell {
    display: flex;
    margin-left: 18em;
}

.shell > p {
    margin: 10px;
}

.content {
    display: flex;
    gap: 2em;
    margin-bottom: 2.5em;
}

.items {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    margin-top: 0.2em;
}

.price > p {
    margin: 0px;
    margin-left: 5px;
}

.buy {
    display: flex;
}

.buy_button {
    margin-left: 1.6em;
}

.tips {
    display: flex;
    align-items: center;
    margin: -2em 1em 0em -1em;
    padding: 10px;
}

.paragraphs {
    margin-top: 2em;
}