.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 25.875em;
    /* margin: 4.875em 0 5em; */
    text-align: center;
    /* background-color: #ffff; */
}

.content_section {
    margin: 0em 5em 0em 6.5em;
}

.shell {
    display: flex;
    margin-left: 18em;
}

.shell > p {
    margin: 10px;
}

.content {
    display: flex;
    gap: 3em;
    margin-bottom: 4em;
}

.items {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    margin-top: 0.2em;
}

.price > p {
    margin: 0px;
    margin-left: 5px;
}

.buy {
    display: flex;
}

.buy_button {
    margin-left: 1.6em;
}